{% extends 'base/main.html' %}
{% block content %}

<div class="headerbar">
    <a href="{% url 'todo' %}">&#8592;</a>
</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token%}
            <p>Are you sure you want to delete this task? "{{task}}"</p>
            <div style="display: flex; justify-content: right; align-items: center; margin-right: 10px;">
                <a style="color: #dca080; margin-right: 15px;" href="{% url 'todo' %}">Cancel</a>
                <input class="button" type="submit" value="Delete"/>
            </div>
        </form>
    </div>

{% endblock content %}